@media(max-width: 720px) {
  .secondary-description{
    font-size: 20px !important;
  }
  .banner {
    display: none;
  }
  .header-mobile {
    p, h2{
      color: rgb(45, 38, 59);
    }
    h2 {
      border-bottom: 2px solid rgb(45, 38, 59);
    }
  }
}

@media(min-width: 720px) {
  .header-mobile {
    display: none;
  }

}



body {
  background: #FFFFFF;
  font-family: Lato, Arial, sans-serif;
  color: rgb(45, 38, 59);
  font-size: 1.1rem;
  line-height: 1.7;
}

// .header {
//   font-weight: 700;
//   text-align: center;
//   font-family: Walsheim, Arial, sans-serif;
//   font-size: 65px;
//   margin-top: 120px;
//   margin-bottom: 10px;
//   color: white;
//   letter-spacing: 6px;
// }

.subheader {
  font-weight: 700;
  text-align: center;
  font-family: Lato, Arial, sans-serif;
  font-size: 21px;
  line-height: 1.375;
  color: white;
//  border-bottom: 2px solid white;;
  width: fit-content;
  margin: 120px auto 40px auto;
  padding-bottom: 10px;
}

.container {
  width: 75vw;
  margin: 0 auto;
}

.secondary-description {
  font-family:  Lato, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
  font-size: 28px;
  color: white;
  padding: 15px;
  text-align: center;
  // width: 80%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;

}

.boxes {
  text-align: center;
}

.box{
  padding: 15px;
  margin: 20px;
}

.icon {
  width: 50%;
}

// .fa-solid{
//   font-size: 50px;
//   margin-bottom: 30px;
// }

.section {
  font-family:  Lato, Arial, sans-serif;
  color:  rgb(45, 38, 59);
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 20px;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-family: Walsheim, Arial, sans-serif;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
  letter-spacing: 4px;
  color: rgb(45, 38, 59);

}

h5 {
  font-weight: 700;
  font-family: Walsheim, Arial, sans-serif;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 10px;
  color: rgb(45, 38, 59);
  letter-spacing: 4px;


}
p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7;
  font-family: Lato, sans-serif;
  color: rgb(45, 38, 59);
}

.info{
  // padding: 20px;
  display: flex;
  justify-content: space-between;
}


.img_preview {
  width: 50px;
}

img {
  width: 40%;
}

.image-about{
  width: 30%;
}

// .header-box{
//   height: 140px;
// }

.data-img{
  width: 26%;
  padding-bottom: 10px;
}

.text {
  text-align: justify;
}

#nonprofit{
  padding-bottom: 20px;
}
