<div id="footer">
  <%# <div id="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> %>
  <div class="row footer" id="contact-footer">
    <div class="col-xs-1 col-lg-4">
      <div id="text-3" class="widget widget_text">
        <h5 class="footer-widget-title">CONTACTS</h5>
        <div class="textwidget"><p>info@yenza.io</p></div>
      </div>
    </div>
    <div class="col-xs-1 col-lg-4">
      <div id="text-3" class="widget widget_text">
        <h5 class="footer-widget-title">LOCATION</h5>
        <div class="textwidget"><p>Address 1</p></div>
        <div class="textwidget"><p>Address 2</p></div>
      </div>
    </div>
    <div class="col-xs-1 col-lg-4">
      <div id="text-3" class="widget widget_text">
        <h5 class="footer-widget-title">WORKING HOURS</h5>
        <div class="textwidget"><p>Mon to Fri <br> 08:00 - 17:00</p></div>
        <br>
      </div>
    </div>
  </div>
</div>
