<h1 class="header">Michaël Berger </h1>
<div class="container">
  <h2 class="subheader">DATA CONSULTING & COMPUTER NETWORKING </h2>
  <p class="secondary-header-teal">DIGITAL & DATA SERVICES</p>
  <p class="secondary-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="three-boxes">
    <div class="box-1 box">
      <img width="80" height="92" alt="Data Consulting"  src="https://www.clipartmax.com/png/full/347-3479406_empirical-advantage-advantage-authority-icon-digital-transformation-icon.png">
      <p>Lorem Ipsum</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button>Learn More...</button>

    </div>
    <div class="box-2 box">
      <img width="80" height="92" alt="Data Consulting"  src="https://www.clipartmax.com/png/full/347-3479406_empirical-advantage-advantage-authority-icon-digital-transformation-icon.png">
      <p>Lorem Ipsum</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button>Learn More...</button>
    </div>
    <div class="box-3 box">
      <img width="80" height="92" alt="Data Consulting"  src="https://www.clipartmax.com/png/full/347-3479406_empirical-advantage-advantage-authority-icon-digital-transformation-icon.png">
      <p>Lorem Ipsum</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <button>Learn More...</button>
    </div>
  </div>
</div>
