<h1 class="header">Michaël Berger </h1>
<div class="container">
  <h2 class="subheader">DATA CONSULTING & COMPUTER NETWORKING </h2>
  <p class="secondary-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <div class="three-boxes">
    <div class="box-1 box">
      <%# <img width="80" height="92" alt="Data Consulting"  src="https://www.clipartmax.com/png/full/347-3479406_empirical-advantage-advantage-authority-icon-digital-transformation-icon.png"> %>
      <i class="fa-solid fa-database"></i>
      <h3 class='section'>Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br>
      <a class="button-section" href="#card-1" data-controller="scroll-to">Learn More...</a>
    </div>
    <div class="box-2 box">
      <%# <img width="80" height="92" alt="Data Consulting"  src="https://www.clipartmax.com/png/full/347-3479406_empirical-advantage-advantage-authority-icon-digital-transformation-icon.png"> %>
      <i class="fa-solid fa-magnifying-glass-location"></i>
      <h3 class='section'>Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br>
      <a class="button-section" href="#card-2" data-controller="scroll-to">Learn More...</a>
    </div>
    <div class="box-3 box">
      <%# <img width="80" height="92" alt="Data Consulting"  src="https://www.clipartmax.com/png/full/347-3479406_empirical-advantage-advantage-authority-icon-digital-transformation-icon.png"> %>
      <i class="fa-solid fa-calendar"></i>
      <h3 class='section'>Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br>
      <a class="button-section" href="#card-3" data-controller="scroll-to">Learn More...</a>
    </div>
  </div>
  <div class='cards-info'>
    <div id="card-1">
      <h3>Lorem Ipsum</h3>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
    <div id="card-2">
      <h3>Lorem Ipsum</h3>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
    <div id="card-3">
      <h3>Lorem Ipsum</h3>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
  </div>
  <div class='about'>
    <div id='info'>
      <h3>About me</h3>
      <p>Contact info</p>
    </div>
    <div id="map" style="height: 300px; width: 300px"></div>
    <div id="map-2" style="height: 300px; width: 300px"></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic29sYnVrZXIiLCJhIjoiY2t6OGdoanJ5MHZhYjJubjl0cHEydWJuZiJ9.Wq7Of_lX1UPg_iyziPLs7w';
      const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 10 // starting zoom
      });
      const marker = new mapboxgl.Marker({
        color: "#1C9B98"
      })
        .setLngLat([-74.5, 40])
        .setPopup(new mapboxgl.Popup().setHTML("<p>"+"Address"+"</p>"))
        .addTo(map);
    </script>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic29sYnVrZXIiLCJhIjoiY2t6OGdoanJ5MHZhYjJubjl0cHEydWJuZiJ9.Wq7Of_lX1UPg_iyziPLs7w';
      const map2 = new mapboxgl.Map({
      container: 'map-2', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 10 // starting zoom
      });
      const marker2 = new mapboxgl.Marker({
        color: "#1C9B98"
      })
        .setLngLat([-74.5, 40])
        .setPopup(new mapboxgl.Popup().setHTML("<p>"+"Address"+"</p>"))
        .addTo(map2);
    </script>
  </div>
</div>
