<div class="container">
  <br>
  <h2 class="subheader">YENZA.IO</h2>
  <p class="secondary-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <div class="row boxes" id="services">
    <div class="col-xs-1 col-lg-4">
      <div class="box-1 box">
        <div class='header-box'>
          <%= image_tag("data.png", class:'data-img')%>
          <h3 class='section'>Data</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <br>
        <a class="button-section" href="#card-1"  data-scroll-to-offset-value="100" data-controller="scroll-to">Learn More...</a>
      </div>
    </div>
    <div class="col-xs-1 col-lg-4">
      <div class="box-2 box">
        <div class='header-box'>
          <%= image_tag("cloud.png") %>
          <h3 class='section'>Cloud</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <br>
        <a class="button-section" href="#card-2"  data-scroll-to-offset-value="100" data-controller="scroll-to">Learn More...</a>
      </div>
    </div>
    <div class="col-xs-1 col-lg-4">
      <div class="box-3 box">
        <div class='header-box'>
          <%= image_tag("networking.png") %>
          <h3 class='section'>Networking</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <br>
        <a class="button-section" href="#card-3"  data-scroll-to-offset-value="100" data-controller="scroll-to">Learn More...</a>
    </div>
    </div>
  </div>


  <div class='cards-info'>
    <div id="card-1">

      <h3>Data</h3>
      <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.\</p>
    </div>
    <div id="card-2">

      <h3>Cloud</h3>
      <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
    <div id="card-3">

      <h3>Networking</h3>
      <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
  </div>
  <div id='aboutme'>

    <h3>About me</h3>
    <div class='info'>
      <div>
        <p class="text">Michaël Berger</p>
        <p class="text">Description</p>
      </div>
      <%= image_tag("about_me_photo.jpg", class:'image-about') %>
    </div>
  </div>

  <div id='nonprofit'>

    <h3>Nonprofit</h3>
    <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>


  </div>
  <%# <div id='maps'>
    <div class='maps-info'>
      <h3>Location</h3>
      <p>Address 1</p>
      <p>Address 2</p>
    </div>
    <div class='map-styling'>
      <div id="map-1" style="height: 300px; width: 300px"></div>
      <div id="map-2" style="height: 300px; width: 300px"></div>
    </div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic29sYnVrZXIiLCJhIjoiY2t6OGdoanJ5MHZhYjJubjl0cHEydWJuZiJ9.Wq7Of_lX1UPg_iyziPLs7w';
      const map = new mapboxgl.Map({
      container: 'map-1', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 10 // starting zoom
      });
      const marker = new mapboxgl.Marker({
        color: "#1C9B98"
      })
        .setLngLat([-74.5, 40])
        .setPopup(new mapboxgl.Popup().setHTML("<p>"+"Address"+"</p>"))
        .addTo(map);
    </script>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic29sYnVrZXIiLCJhIjoiY2t6OGdoanJ5MHZhYjJubjl0cHEydWJuZiJ9.Wq7Of_lX1UPg_iyziPLs7w';
      const map2 = new mapboxgl.Map({
      container: 'map-2', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 10 // starting zoom
      });
      const marker2 = new mapboxgl.Marker({
        color: "#1C9B98"
      })
        .setLngLat([-74.5, 40])
        .setPopup(new mapboxgl.Popup().setHTML("<p>"+"Address"+"</p>"))
        .addTo(map2);
    </script>
  </div> %>
</div>
