<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/assets/background-img-bn.jpg);">
  <div class="container">
    <h2 class="subheader">YENZA.IO</h2>
    <p class="secondary-description">Yenza provides technical services and consulting in the areas of Cloud, Data and Computer Networking.</p>
  </div>
</div>

<div class="container">
  <div class='header-mobile'>
    <h2 class="subheader">YENZA.IO</h2>
    <p class="secondary-description">Yenza provides technical services and consulting in the areas of Cloud, Data and Computer Networking.</p>
  </div>
  <br>
  <div class="row boxes" id="services">
    <div class="col-xs-1 col-lg-4">
      <div class="box-1 box">
        <%= image_tag("data.png", style:'width:65px')%>
        <h3 class='section'>Data</h3>
        <p>We will help you reveal your data! We support you through your data governance implementation, AI/ML and data analytics depolyments.</p>
        <br>
        <a class="button-section" href="#card-1"  data-scroll-to-offset-value="100" data-controller="scroll-to">Learn More...</a>
      </div>
    </div>
    <div class="col-xs-1 col-lg-4">
      <div class="box-2 box">
        <div class='header-box'>
          <%= image_tag("cloud.png", style:'width:119px') %>
          <h3 class='section'>Cloud</h3>
        </div>
        <p>We help you plan, design and implement your cloud migration or hybrid cloud and various cloud services on AWS and GCP.</p>
        <br>
        <a class="button-section" href="#card-2"  data-scroll-to-offset-value="100" data-controller="scroll-to">Learn More...</a>
      </div>
    </div>
    <div class="col-xs-1 col-lg-4">
      <div class="box-3 box">
        <div class='header-box'>
          <%= image_tag("networking.png", style:'width:110px') %>
          <h3 class='section'>Networking</h3>
        </div>
        <p>15 years of experience in various technical roles at Cisco, now at your service.</p>
        <br>
        <a class="button-section" href="#card-3"  data-scroll-to-offset-value="100" data-controller="scroll-to">Learn More...</a>
    </div>
    </div>
  </div>


  <div class='cards-info'>
    <div id="card-1">

      <h3>Data</h3>
      <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.\</p>
    </div>
    <div id="card-2">

      <h3>Cloud</h3>
      <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
    <div id="card-3">

      <h3>Networking</h3>
      <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
  </div>
  <div id='aboutme'>

    <h3>About me</h3>
    <div class='info'>
      <div>
        <p class="text">Michaël Berger</p>
        <p class="text">Description</p>
      </div>
      <%= image_tag("about_me_photo.png", class:'image-about') %>
    </div>
  </div>
  <div id='nonprofit'>
    <h3>Nonprofit</h3>
    <p class="text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
  </div>
</div>
