<h1 class="header">Michaël Berger </h1>
<div class="container">
  <h2 class="subheader">DATA CONSULTING & COMPUTER NETWORKING </p>
  <p class="secondary-header-teal">DIGITAL & DATA SERVICES</p>
  <p class="secondary-description">We offer data-driven solutions designed to meet clients’ specific business needs.</p>
  <div class="three-boxes">
    <div class="box">
      <img width="80" height="92" alt="Data Consulting"  src="https://www.clipartmax.com/png/full/347-3479406_empirical-advantage-advantage-authority-icon-digital-transformation-icon.png">
      <p>Data Consulting</p>
      <p>We accompany companies in their digital journeys. We leverage all types of data across organisations to create AI business initiatives.</p>
      <button>Learn More...</button>

    </div>
  </div>
</div>

