<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/assets/background-img-bn.jpg);">
  <div class="container">
    <h2 class="subheader"></h2>
    <p class="secondary-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="container">
  <div class='header-mobile'>
    <h2 class="subheader">Wir sind gleich für Sie da! Im Moment verwenden Sie bitte die englische Version</h2>
    <p class="secondary-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <br>
</div>
