<div class="container">
  <div class='header-mobile'>
    <h2 class="subheader"></h2>
    <p class="secondary-description">LWir sind gleich für Sie da! Im Moment verwenden Sie bitte die englische Version</p>
  </div>
  <br>
</div>
