#footer {
  background: rgb(36, 214, 181);
  // display: flex;
  text-align: center;
  // justify-content: space-evenly;
  padding: 0px 50px;
  color: rgb(236, 236, 236);
}
#footer-links {
  display: flex;
  align-items: center;
}
#footer-links a {
  color: rgb(236, 236, 236);
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
#footer-links a:hover {
  opacity: 1;
}
#footer .fa-heart {
  color: rgb(236, 236, 236);
}

#footer-copyright {
  color: rgb(236, 236, 236);
  font-size: 0.6em;
  font-weight: 400;
  text-align: left;
  font-family: Lato, Arial, sans-serif;
  line-height: 1.25em;
}

// .row .footer {
//   text-align: center;
//   margin: auto;
//   width: 70vw;

// }

.row {
  width: 75vw;
  margin: auto;
}
