
@media(max-width: 420px) {
  .container-fluid{
    padding: 0 10px 0 10px !important;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: white;
}

.navbar-brand {
  height: 90% ;
  width: auto;
  margin: 0px !important;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px !important;
  height: 9vh;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

}


.nav-link {
  text-decoration: none;
  font-size: 17px;
  line-height: 1.375;
  color: rgb(45, 38, 59) !important;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  margin: 5px 20px 6px;
  font-family: Walsheim, Arial, sans-serif;
  &:hover {
    border-bottom-color: rgb(36, 214, 181);
    color: rgb(36, 214, 181) !important;
  }
}

#navbarDropdown{
  margin: auto;
  display: flex;
}

.container-fluid {
  padding: 0px 120px;
  height: 9vh !important;
}

.navbar-nav {
  text-align: center;
}

.flag {
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom-color: rgb(36, 214, 181);
    color: rgb(36, 214, 181) !important;
  }
  width: 25%;
}

.flag-no {
  opacity: 50%;
  &:hover {
    border-bottom-color: rgb(36, 214, 181);
    color: rgb(36, 214, 181) !important;
  }
}

.flags {
  text-align: end;
}

.dropdown-item-lang{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag-dropdown-item {
  width: 30%;
}

.lang {
  text-decoration: none;
  margin-left: 5px;
  margin-bottom: 0px;
}

.lang-item {
  text-align: none;
}

a{
  text-decoration: none ;
}

.dropdown-toggle::after {
  vertical-align: 0.255em;
  position: relative;
  top: 10px;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
