.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  text-decoration: none;
  font-size: 17px;
  line-height: 1.375;
  color: black !important;
  font-weight: 400;
  // place-self: center stretch;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out 0s;
  margin: 5px 20px 6px;
  font-family: Lato, sans-serif;
  // color: #2d263b;
  &:hover {
    border-bottom-color: rgb(45, 38, 59);
  }
}

// #navbarDropdown{
//   margin-right: 30px;
//   margin-top: 10px;
//   margin-left:10px;
// }
